<template>
    <AuthForm :handleSubmit="handleLogin">
        <Input
            type="text"
            placeholder="Enter your username ..."
            v-model="username"
            required="true"
        />
        <Input
            type="password"
            placeholder="Enter your password ..."
            v-model="password"
            required="true"

        />
        <Button
            type="submit"
        >Login</Button>
    </AuthForm>
</template>

<script>
import AuthForm from '../../components/AuthForm';
import Input from '../../components/Input';
import Button from '../../components/Button';
import Request from '../../utils/Request';

export default {
    name: 'login',
    data() {
        return {
            username: '',
            password: '',
        }
    },
    mixins: [Request],
    components: {
        AuthForm,
        Input,
        Button,
    },
    methods: {
        handleLogin() {
            this.Request('login', {
                username: this.username,
                password: this.password
            });
        },
    }
}
</script>
