<template>
    <div :class="$style.input">
        <label
            v-if="label"
        >{{label}}</label>
        <input
            :type="type"
            :placeholder="placeholder"
            :required="required"
            v-model="inputVal"
            @input="handleChange"
        />
    </div>
</template>

<script>
export default {
    name: 'Input',
    props: ['type', 'placeholder', 'label', 'required'],
    data() {
        return {
            inputVal: '',
        }
    },
    methods: {
        handleChange() {
            this.$emit('input', this.inputVal);
        }
    }
}
</script>

<style lang="scss" module>
@import './style';
</style>
