<template>
    <button :class="$style.button">
        <slot />
    </button>
</template>

<script>
export default {
    name: 'Button'
}
</script>

<style lang="scss" module>
@import './style';
</style>